

<br><br><h2><%= link_to "Login with Facebook", "/auth/facebook", method: :post, class: "blue_button" %></h2>

<h2 class="loginOrText">Or</h2>


<h1>Login normally</h1>

<%= form_tag("/login", method: "post") do %>
<%= text_field_tag :"[user]username", nil, placeholder: "Username" %><br><br>
<%= password_field_tag :"[user]password", nil, placeholder: "Password" %><br><br>
<%= submit_tag "Login", class: "button_for_login" %>
<% end %>

<div class="styled_font_for_notices">
<br><% if flash[:notice] %>
<%= flash[:notice] %>
<% end %><br>
</div>