<h1>Profile page for <%= @user.name %></h1><br>
<h2><label>My name: </label><%= @user.name %></h2>
<h2><label>My username: </label><%= @user.username %></h2>
<h2><label>My email: </label><%= @user.email %></h2>
<h2><label>My city: </label><%= @user.city %></h2>
<h2><label>My bio: </label><%= @user.bio %></h2>
<h2><label>My number of years hiking: </label><%= @user.years_hiking %></h2><br><br><br>

<h2>My left reviews:</h2> 
<% if @user.reviews.count == 0 %>
<h4>No reviews left yet...</h4>
<% else %>
<% @user.reviews.each do |review| %>
<h3>Review for <%= review.hike.name %> hike in <%= review.hike.location %>:</h3>
<ul style="list-style: none;">
<li><b>Star rating:</b> <%= review.star_rating %> stars</li>
<li><b>Title:</b> <%= review.title %></li>
<li><b>Description:</b> <%= review.description %></li>
<li><b>Date reviewed:</b> <%= review.date %>
</ul>
<% end %>
<% end %>