<%= form_tag(hikes_path, method: "get", style: "float:right" ) do %>
<input type="text" size= "28" name="q" placeholder="Search hike by name across site">
<%= submit_tag "Search", class: "button_for_name_search"%>
<% end %>




<% if params[:hike] && params[:hike][:":location"] != "None" %>

<h1>Hikes in <%= params[:hike][:":location"] %></h1>
<h4><%= @hikes.count %> <%= params[:hike][:":location"] %> hikes found!</h4>

<% elsif %>
<% params[:q] != nil && params[:q] != "" %>
<h4><%= pluralize(@hikes.count, "similar hike") %> found on our website!</h4>
<% elsif %>
<% params[:q] != nil && params[:q] == "" || params[:q] == " " %>
<h4>Search was empty, please search for hike name. Here are the <%= @hikes.count %> total hikes found on our website!</h4>
<% else %>
<h4><%= @hikes.count %> total hikes found on our website!</h4>
<% end %>





<ol>
<% @hikes.each do |hike| %>
<li><h3><b>Hike name: </b><%= hike.name %></h3>
<h4><b>Location: </b><%= hike.location %></h4>
<h4><b>Average star rating: </b><%= hike.avg_star_rating.round(2) %> stars/5 stars</h4>
<h4><b>Difficulty: </b><%= hike.difficulty %></h4>
<h4><b>Description: </b><%= hike.description %></h4>
<h4><%= link_to "See the #{pluralize(hike.reviews.count, "review")} for this hike", hike_reviews_path(hike), class: "button_for_hikes" if hike.reviews.count != 0 %></h4>
<% if hike.reviews.count == 0 %><h5>There are no reviews yet for this hike.</h5><% end %>
<h4><%= link_to "Create a new review for this hike", new_hike_review_path(hike), class: "button_for_hikes" %></h4><br>
<% end %>
</ol>
