<% if params[:hike][:":location"] != "None" %>

<h1>Hikes in <%= params[:hike][:":location"] %></h1>
<h4><%= @hikes.count %> <%= params[:hike][:":location"] %> hikes found!</h4>

<% else %>
<h4><%= @hikes.count %> total hikes found on our website!</h4>
<% end %>

<ol>
<% @hikes.each do |hike| %>
<li><h3><b>Hike name: </b><%= hike.name %></h3>
<h4>Location: <%= hike.location %>
<h4>Average star rating: <%= hike.avg_star_rating.round(2) %> stars/5 stars</h4>
<h4>Difficulty: <%= hike.difficulty %></h4>
<h4>Hike description: <%= hike.description %></h4>
<h4><%= link_to "See the #{pluralize(hike.reviews.count, "review")} for this hike", hike_reviews_path(hike) if hike.reviews.count != 0 %></h4>
<% if hike.reviews.count == 0 %><h5>There are no reviews yet for this hike.</h5><% end %>
<h4><%= link_to "Create a new review for this hike", new_hike_review_path(hike), class: "button_for_hikes" %></h4><br>
<% end %>
</ol>
